theme = "dark_plus"

[editor]
line-number = "relative"
mouse = false
auto-save = true
auto-format = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name"]
right = ["diagnostics", "selections", "position", "file-encoding"]

[editor.whitespace.render]
tab = "all"
trailing = "all"

